<a href="https://colab.research.google.com/github/yddshunan/BARI-SMASH/blob/main/Copy_of_3_2_BARI_SMASH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
url = "https://raw.githubusercontent.com/yddshunan/BARI-SMASH/main/Permits.Ecometrics.CT.Longitudinal.csv"

In [ ]:
permits = pd.read_csv(url)

In [ ]:
permits

        CT_ID_10  numLandParcels  ...  TOTAL_DV_PP.2021  Public_DV_PP.2021
0    25025000100             833  ...         42.656615          42.656615
1    25025000201             746  ...        203.750027         203.750027
2    25025000202             677  ...          5.169867           5.169867
3    25025000301             566  ...         50.199647          50.199647
4    25025000302             565  ...          7.079646           7.079646
..           ...             ...  ...               ...                ...
176  25025981502               3  ...          0.000000           0.000000
177  25025981600               9  ...          0.000000           0.000000
178  25025981700               4  ...          0.000000           0.000000
179  25025981800              10  ...          0.000000           0.000000
180  25025990101               2  ...          0.000000           0.000000

[181 rows x 230 columns]

In [ ]:
# Check the first five lines
permits.head()

In [ ]:
# Check the last five lines
permits.tail()

        CT_ID_10  numLandParcels  ...  TOTAL_DV_PP.2021  Public_DV_PP.2021
176  25025981502               3  ...               0.0                0.0
177  25025981600               9  ...               0.0                0.0
178  25025981700               4  ...               0.0                0.0
179  25025981800              10  ...               0.0                0.0
180  25025990101               2  ...               0.0                0.0

[5 rows x 230 columns]

Since this is a longitudinal dataset, we have each construction ecometric for each year from 2010-2020. We also have a couple different versions of each ecometrics. I'm going to subset this dataframe so we just have one version of each ecometric for the year 2020, where each variable represents the proportion of land parcels (the land underneath a building) in a tract that received a given type of permit.

In [ ]:
permits_20 = permits[['CT_ID_10','NEWCON_PP.2020', 'DEMO_PP.2020', 'ADD_PP.2020', 'RENO_PP.2020']]
permits_20.rename(columns={"NEWCON_PP.2020": "New Construction",
                           "DEMO_PP.2020": "Demolitions",
                          "ADD_PP.2020": "Additions",
                          "RENO_PP.2020": "Renovations"}, inplace=True)
permits_20

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

        CT_ID_10  New Construction  Demolitions  Additions  Renovations
0    25025000100          0.022809     0.004802   0.020408     0.070828
1    25025000201          0.005362     0.002681   0.008043     0.075067
2    25025000202          0.007386     0.000000   0.014771     0.069424
3    25025000301          0.012367     0.001767   0.008834     0.067138
4    25025000302          0.010619     0.000000   0.007080     0.074336
..           ...               ...          ...        ...          ...
176  25025981502          0.000000     0.000000   0.000000     0.333333
177  25025981600          0.000000     0.000000   0.000000     0.000000
178  25025981700          0.250000     0.000000   0.000000     0.000000
179  25025981800          0.000000     0.000000   0.000000     0.200000
180  25025990101          0.000000     0.000000   0.000000     0.000000

[181 rows x 5 columns]

In [ ]:
## Generate descriptive statistics.

## Descriptive statistics include those that summarize the central tendency, 
## dispersion and shape of a dataset’s distribution, excluding NaN values.
permits_20.describe()

           CT_ID_10  New Construction  Demolitions   Additions  Renovations
count  1.810000e+02        181.000000   181.000000  181.000000   181.000000
mean   2.502514e+10          0.025543     0.004194    0.021391     0.114717
std    2.478009e+05          0.033097     0.007603    0.027398     0.054551
min    2.502500e+10          0.000000     0.000000    0.000000     0.000000
25%    2.502504e+10          0.008671     0.000000    0.007547     0.086525
50%    2.502508e+10          0.016582     0.002101    0.013445     0.104079
75%    2.502511e+10          0.029304     0.004292    0.024390     0.130526
max    2.502599e+10          0.250000     0.056818    0.200000     0.421053

In [ ]:
## to identity the number of columns 
## Python list method len() returns the number of elements in the list.

len(list(permits_20))

5

In [ ]:
## to identity the number of rows 
## The len() function returns the number of items in an object.

len(permits_20)

181

In [ ]:
permits_20.head()

      CT_ID_10  New Construction  Demolitions  Additions  Renovations
0  25025000100          0.022809     0.004802   0.020408     0.070828
1  25025000201          0.005362     0.002681   0.008043     0.075067
2  25025000202          0.007386     0.000000   0.014771     0.069424
3  25025000301          0.012367     0.001767   0.008834     0.067138
4  25025000302          0.010619     0.000000   0.007080     0.074336

In [ ]:
permits_20.tail()

        CT_ID_10  New Construction  Demolitions  Additions  Renovations
176  25025981502              0.00          0.0        0.0     0.333333
177  25025981600              0.00          0.0        0.0     0.000000
178  25025981700              0.25          0.0        0.0     0.000000
179  25025981800              0.00          0.0        0.0     0.200000
180  25025990101              0.00          0.0        0.0     0.000000

Summary Statistics¶

In [ ]:
#Maximum of the values in the object. return the maximum of the values over the requested axis.
permits_20['Renovations'].max()

0.421052631578947

In [ ]:
#Minimum of the values in the object.
permits_20['Renovations'].min()

0.0

In [ ]:
#Mean of the values.
permits_20['Renovations'].mean()

0.11471703629038625

In [ ]:
## the median is the value separating the higher half from the lower half of a data sample, a population, or a probability distribution
permits_20['Renovations'].median()

0.10407876230660999

In [ ]:
permits_20['Renovations'].sum()

20.763783568559916

In [ ]:
#Standard deviation of the observations.
## the standard deviation is a measure of the amount of variation or dispersion of a set of values.[1] A low standard deviation indicates that the values tend to be close to the mean (also called the expected value) of the set, while a high standard deviation indicates that the values are spread out over a wider range.
permits_20['Renovations'].std()

0.05455144195337568

In [ ]:
## Generate descriptive statistics.

## Descriptive statistics include those that summarize the central tendency, dispersion and shape of a dataset’s distribution, excluding NaN values.


permits_20.describe()

           CT_ID_10  New Construction  Demolitions   Additions  Renovations
count  1.810000e+02        181.000000   181.000000  181.000000   181.000000
mean   2.502514e+10          0.025543     0.004194    0.021391     0.114717
std    2.478009e+05          0.033097     0.007603    0.027398     0.054551
min    2.502500e+10          0.000000     0.000000    0.000000     0.000000
25%    2.502504e+10          0.008671     0.000000    0.007547     0.086525
50%    2.502508e+10          0.016582     0.002101    0.013445     0.104079
75%    2.502511e+10          0.029304     0.004292    0.024390     0.130526
max    2.502599e+10          0.250000     0.056818    0.200000     0.421053

In [ ]:
## Another form 
permits_20.Renovations.mean()

0.11471703629038625

In [ ]:
# value_counts: Return a Series containing counts of unique rows in the DataFrame
permits_20.Renovations.value_counts()

0.000000    5
0.166667    4
0.153846    2
0.200000    2
0.115942    2
           ..
0.100917    1
0.021053    1
0.073643    1
0.085864    1
0.218750    1
Name: Renovations, Length: 170, dtype: int64

In [ ]:
## if we want to put it in an ascending order 
permits_20.Renovations.value_counts(ascending=True)

0.218750    1
0.085864    1
0.073643    1
0.021053    1
0.100917    1
           ..
0.115942    2
0.200000    2
0.153846    2
0.166667    4
0.000000    5
Name: Renovations, Length: 170, dtype: int64

In [ ]:
permits_20.Renovations.value_counts(ascending=False)

0.000000    5
0.166667    4
0.153846    2
0.200000    2
0.115942    2
           ..
0.100917    1
0.021053    1
0.073643    1
0.085864    1
0.218750    1
Name: Renovations, Length: 170, dtype: int64

In [ ]:
# normalize: Return proportions rather than frequencies.
permits_20.Renovations.value_counts(ascending=True, normalize=True)

0.218750    0.005525
0.085864    0.005525
0.073643    0.005525
0.021053    0.005525
0.100917    0.005525
              ...
0.115942    0.011050
0.200000    0.011050
0.153846    0.011050
0.166667    0.022099
0.000000    0.027624
Name: Renovations, Length: 170, dtype: float64

Correlation analysis